@model webapp2.Pages.PrivacyModel
@{
}
 <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#myModal">
  可預約
</button>
<table  id="selectTable"  class="table table-bordered table-striped">
    <thead>
        <tr>
            <th>時間段</th>
          @{
            var d="";
          }
            @foreach (var day in @Model.schedule.Keys)
            {
               d = day;
                if(@DateTime.Parse(day).ToString("dddd").EndsWith("六"))
                {
                    break ;
                }
                <th style="text-align:center">@DateTime.Parse(day).ToString("dddd MM/dd")</th>
               
            }
             <th style="text-align:center">時間段</th>
             <th style="text-align:center">@Model.endDate.ToString("dddd MM/dd")</th>
        </tr>
    </thead>
    <tbody>
         @for (int ix = 0; ix < 6; ix++) 
        {
            var hour=12;
            var min=15;
            <tr>
                @if(@ix==0){
                    hour=12;
                    min=15;
                  <td>@hour:@min~@hour:@(@min+30)</td>
                }
             @if(@ix==1){
                 hour=17;
                 min=30;
                  <td>@hour:@min~@(String.Format("{0:00}:{1:00}",@hour+1,(@min+30)%60))</td>
                }
            @if(@ix==2){
                    hour=18;
                 min=10;
                  <td>@hour:@min~@(String.Format("{0:00}:{1:00}",@hour+1,(@min+30)%60))</td>
                }
             @if(@ix==3){
                    hour=18;
                 min=50;
                  <td>@hour:@min~@(String.Format("{0:00}:{1:00}",@hour+1,(@min+30)%60))</td>
                }
             @if(@ix==4){
                    hour=19;
                   min=30;
                  <td>@hour:@min~@(String.Format("{0:00}:{1:00}",@hour+1,(@min+30)%60))</td>
                }
                 @if(@ix==5){
                    hour=20;
                   min=10;
                  <td>@hour:@min~@(String.Format("{0:00}:{1:00}",@hour+1,(@min+30)%60))</td>
                }
              @foreach (var day in @Model.schedule.Keys)
                {
                    d = day;
                     if(@DateTime.Parse(day).ToString("dddd").EndsWith("六"))
                {
                    break ;
                }
                    var slot = @Model.schedule[day].FirstOrDefault(s => s.Date==@DateTime.Parse(day) && s.Time.Hours == @hour && s.Time.Minutes==@min);
                    
                    <td>
                       @if (slot != null && slot.IsAvailable)
                        {
                            <button type="button" class="btn btn-success btn-sm" id='@slot.Date.ToString("yyyyMMdd")@hour@min' data-bs-toggle="modal" data-bs-target="#myModal"  data-slot-date='@slot.Date.ToString("yyyy/MM/dd")' data-slot-time='@slot.Time' onClick="submitText(this)">
  可預約
</button>
                        }
                        else
                        {
                            <span class="text-danger">已預約</span>
                        }
                    </td>
                }
                @if(@ix==0){
                    hour=9;
                    min=30;
                  <td>@hour:@min~@(String.Format("{0:00}:{1:00}",@hour+1,(@min+30)%60))</td>
                }
                 else if(@ix==1){
                    hour=10;
                    min=10;
                  <td>@hour:@min~@(String.Format("{0:00}:{1:00}",@hour+1,(@min+30)%60))</td>
                }
                 else if(@ix==2){
                    hour=10;
                    min=50;
                  <td>@hour:@min~@(String.Format("{0:00}:{1:00}",@hour+1,(@min+30)%60))</td>
                }
                 else if(@ix==3){
                    hour=11;
                    min=20;
                  <td>@hour:@min~@(String.Format("{0:00}:{1:00}",@hour+1,(@min+30)%60))</td>
                }
                 else if(@ix==4){
                    hour=11;
                    min=30;
                  <td>@hour:@min~@(String.Format("{0:00}:{1:00}",@hour+1,(@min+30)%60))</td>
                }
                else  {
                  <td></td>
                }
               
     
                       @if (@ix<5)
                        {
                              <td>
                            <button class="btn btn-success btn-sm">可預約</button>
                             </td>
                        }
                        else{ <td></td>}
               
            </tr>
        }
    </tbody>
</table>
<!-- The Modal -->
<div class="modal" id="myModal">
  <div class="modal-dialog">
    <div class="modal-content">

      <!-- Modal Header -->
      <div class="modal-header">
        <h4 class="modal-title">預約表單</h4>
        <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
      </div>

      <!-- Modal body -->
      <div class="modal-body">
<!---------使用一般的.form-row 格線------->
<form>
  <div class="form-row">
  <div class="form-group col-md-6">
    <input type="hidden" id="slotid" />
    <label for="service" class="col-form-label">服務</label>
    <select id="service" class="form-select form-select-lg-sm" aria-label=".form-select-lg">
        <option  value="全身按摩">全身按摩 60分鐘</option>
         <option  value="局部按摩" selected="true">局部按摩 30分鐘</option>
         <option  value="局部+腳底按摩">局部+腳底按摩 60分鐘</option>
        </select>
  </div>
  <div class="form-group col-md-8">
    <label for="user" class="col-form-label">預約人</label>
    <input type="text" class="form-control" id="user" readonly>
  </div>
  <div class="form-group col-md-8">
    <label for="dept" class="col-form-label">部門</label>
    <input type="text" id="dept" class="form-control" readonly>
  </div>
  <div class="form-group col-md-8">
    <label for="email" class="col-form-label">電子郵件</label>
    <input type="text" id="email" class="form-control" readonly>
  </div>
  <div class="form-group col-md-8">
    <label for="tel" class="col-form-label">*聯絡電話</label>
    <input type="text" id="tel" class="form-control">
  </div>
</div>  
</form>

      </div>

      <!-- Modal footer -->
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary" onclick="save()">Save changes</button>
      </div>

    </div>
  </div>
</div>

<span>@Model.desc</span>
